@model TotalWarDLA.Models.Formation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSoldiers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSoldiers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingFormationValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingFormationValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHorseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHorseNavigation.IdHorse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSoldierNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSoldierNavigation.IdSoldier)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFormation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
