@model TotalWarDLA.Models.Pagination.PageModel<Trait>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="CreateTrait">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.TraitDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TraitName)
                </th>*@
            <th>Trait Descriptopn</th>
            <th>Trait Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TraitDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TraitName)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a asp-action="EditTrait" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="DetailsTrait" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a asp-action="DeleteTrait" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    if (Model.HasPrevios)
    {
        <a asp-action="IndexTrait" asp-route-CurrentPage="@(Model.CurrentPage - 1)" class="btn btn-default">previos</a>
    }
    if (Model.HasNext)
    {
        <a asp-action="IndexTrait" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="btn btn-default"> Next</a>
    }
}