@model TotalWarDLA.Models.Faction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Faction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactionDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditFaction" asp-route-id="@Model.IdFaction">Edit</a> |
    <a asp-action="IndexFaction">Back to List</a>
</div>
