@model IEnumerable<TotalWarDLA.Models.Faction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FactionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactionDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FactionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactionDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFaction">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFaction">Details</a> |
                <form asp-action="Delete" asp-route-id="@item.IdFaction" method="post">
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-primary" />
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
