@model TotalWarDLA.Models.SoldierFormation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SoldierFormation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSoldiers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSoldiers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingFormationValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingFormationValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorseIdHorseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorseIdHorseNavigation.IdHorse)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldierModelIdSoldierNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldierModelIdSoldierNavigation.IdSoldier)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFormation" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
